@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");

*::selection {
  background: #000;
  color: #fff;
}

* {
    font-size: large;
}

p {
  font-family: "Ceviche One", system-ui;
}